<div class="parallax-container">
  <div class="parallax"> 
	<%= image_tag("dubrovnik.jpg", :alt => "rss feed") %>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
 	<div class="container center white-text">
      <h1>English</h1>
      <div class="col hide-on-small">
      	<h3>Iceland || Norway || Poland || Croatia </h3>
      	<h3>Czech Republic || Denmark || Finland</h3>
      </div>
    </div>
</div>

<div class="container">

	<div class="row">
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("reyimg.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">Rekyavik University<i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://en.ru.is/application-process/">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Rekyavik University<i class="material-icons right">close</i></span>
				  <p>Location: Rekyavik, Iceland</p>
				  <p>Tuition: $1,500 USD/semester</p>
				  <p>Enrollment: 3,000</p>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("zhaimg.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">University of Zagreb<i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://www.efzg.unizg.hr/default.aspx?id=15594">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">University of Zagreb<i class="material-icons right">close</i></span>
				  <p>Location: Zagreb, Croatia</p>
				  <p>Tuition: $1,200 USD/semester</p>
				  <p>Enrollment: 72,000</p>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("NTNU.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4"> Norwegian Institute of Science and Technology <i class="material-icons right">more_vert</i></span>
		  			<p><a href="https://www.ntnu.edu/studies/visitng_and_exchange_students/free_mover">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Norwegian Institute of Science and Technology<i class="material-icons right">close</i></span>
				  <p>Location: Trondheim, Norway</p>
				  <p>Tuition: free </p>
				  <p>Enrollment: 18,500</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("tampere.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4"> Tampere University of Technology <i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://www.tut.fi/en/admissions/applying-to-tut/exchange-programmes/index.htm">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Tampere University of Technology<i class="material-icons right">close</i></span>
				  <p>Location: Tampere, Finland</p>
				  <p>Tuition: free (until August 2017),</p>
				  <p>Enrollment: 18,500</p>

				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("warsaw.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">University of Warsaw <i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://bwz.uw.edu.pl/en/incoming-students/visiting-students">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">University of Warsaw<i class="material-icons right">close</i></span>
				  <p>Location: Warsaw, Poland</p>
				  <p>Tuition: $1,500 - $3,000 USD/semester,</p>
				  <p>depending on field of study</p>
				  <p>Enrollment: 45,000 </p>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("aarhus.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">Aarhus University <i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://www.au.dk/en/internationalcentre/international-students/freemoverstudents%28non-exchange%29/">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Aarhus University<i class="material-icons right">close</i></span>
				  <p>Location: Aarhus, Denmark</p>
				  <p>Tuition: $2,000 - $3,500 USD/semester,</p>
				  <p>Enrollment: 45,000</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("charles.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4"> St. Charles University <i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://www.cuni.cz/UKEN-151.html">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4"> St. Charles University<i class="material-icons right">close</i></span>
				  <p>Location: Prague, Czech Republic</p>
				  <p>Tuition: $3,000 USD/semester</p>
				  <p>Enrollment: 50,000</p>

				</div>
			</div>
		</div>
	</div>

</div>
