<div class="parallax-container">
  <div class="parallax"> 
	<%= image_tag("dubrovnik.jpg", :alt => "rss feed") %>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
 	<div class="container center white-text">
      <h1>English</h1>
      <div class="col hide-on-small">
      	<h3>Iceland || Norway || Poland || South Africa</h3>
      	<h3>Croatia || Czech Republic || Denmark || Finland</h3>
      </div>
    </div>
</div>

<div class="container">
	<div class="row">

		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("reyimg.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">Rekyavik University<i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://en.ru.is/application-process/">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Rekyavik University<i class="material-icons right">close</i></span>
				  <p>Location: Rekyavik, Iceland</p>
				  <p>Tuition: $1,500 USD/semester</p>
				  <p>Enrollment: 3,000</p>
				</div>
			</div>
		</div>


		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("zhaimg.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">University of Zagreb<i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://www.efzg.unizg.hr/default.aspx?id=15594">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Rekyavik University<i class="material-icons right">close</i></span>
				  <p>Location: Zagreb, Croatia</p>
				  <p>Tuition: $1,200 USD/semester</p>
				  <p>Enrollment: 72,000</p>
				</div>
			</div>
		</div>

		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("NTNU.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4"> Norwegian Institute of Science and Technology <i class="material-icons right">more_vert</i></span>
		  			<p><a href="https://www.ntnu.edu/studies/visitng_and_exchange_students/free_mover">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Location: Trondheim, Norway</p>
				  <p>Tuition: free </p>
				  <p>Enrollment: 18,500</p>
				</div>
			</div>
		</div
	</div>
	<div class="row">

		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("santiago.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">Universidad de Santiago <i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://drii.usach.cl/content/preguntas-frecuentes-estudiantes-extranjeros">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div>


		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("santiago.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">Universidad de Santiago <i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://drii.usach.cl/content/preguntas-frecuentes-estudiantes-extranjeros">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div>
		<div class="col s12 m6 l4">
			<div class="card hoverable">
				<div class="card-image activator waves-effect waves-block waves-light">
					<img class="activator" <%= image_tag("santiago.jpg", :alt => "rss feed") %>
				</div>
				<div class="card-content">
		  			<span class="card-title activator grey-text text-darken-4">Universidad de Santiago <i class="material-icons right">more_vert</i></span>
		  			<p><a href="http://drii.usach.cl/content/preguntas-frecuentes-estudiantes-extranjeros">Visit site</a></p>
				</div>
				<div class="card-reveal">
				  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
				  <p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div
	</div>
</div>
