<div class="parallax-container">
  <div class="parallax"> <%= image_tag("temple.jpg", :alt => "rss feed") %>
  </div>
  
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="container">
    <div class="valign-wrapper">
      <div class="offset-s6">
        <a class="waves-effect waves-light btn-large">English</a>
        <a class="waves-effect waves-light btn-large">Spanish</a>
        <a class="waves-effect waves-light btn-large">German</a>
        <a class="waves-effect waves-light btn-large">Portuguese</a>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>


<h1><a id="Countries"></a></h1>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>

<div class="container">
  <div id="countries" class="section scrollspy">
    <div class="row">
      <div class="col s6">
        <div class="card-panel">
            <span class="blue-text text-darken-2">Countries</span>
            <span class="card-content black-text">
            <p>There are many countries in the world. 
            It would not be hard for you to study at any of them.
            Studying is good. 
            Countries are good. </p>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("dubrovnik.jpg", :alt => "rss feed") %></div>
</div>

<h1><a id="Languages"></a></h1>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>


<div class="container">
    <div class="row">

      <div class="col s6">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("english.jpg", :alt => "rss feed", class: "img-responsive") %>   English</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("spanish.jpg", :alt => "rss feed", class: "img-responsive") %>   Spanish</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("french.jpg", :alt => "rss feed", class: "img-responsive") %>    French</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("german.jpg", :alt => "rss feed", class: "img-responsive") %>   German
              </div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
        </ul>
      </div>

      <div class="col s6">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("italian.jpg", :alt => "rss feed", class: "img-responsive") %>   Italian</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("chinese.jpg", :alt => "rss feed", class: "img-responsive") %>   Chinese</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("japanese.jpg", :alt => "rss feed", class: "img-responsive") %>   Japanese</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
          <li>
            <div class="collapsible-header hoverable waves-effect">
              <%= image_tag("other.jpg", :alt => "rss feed", class: "img-responsive") %>    More</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
          </li>
        </ul>
      </div>
    </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("vietnam.jpg", :alt => "rss feed") %></div>
</div>

<h1><a id="Mission"></a></h1>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>

<div class="container">
    <div class="row">
      <div class="col s6 offset-s4">
        <div class="card-panel">
            <span class="blue-text text-darken-2">About</span>
            <span class="card-content black-text">
              <p>There are many countries in the world. 
              It would not be hard for you to study at any of them.
              Studying is good. 
              Countries are good. </p>
            </span>
        </div>
      </div>
    </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("alaska.jpg", :alt => "rss feed") %></div>
</div>

<h1><a id="FAQ"></a></h1>
<div class="row">
</div>
<div class="row">
   <ul class="section table-of-contents">
    <li><a href="#countries">Countries</a></li>
</div>
<div class="row">
</div>


<div class="container">
    <div class="row">
      <div class="col s6 offset-s6">
        <div class="card-panel">
            <span class="blue-text text-darken-2">FAQ</span>
            <span class="card-content black-text">
              <p>There are many countries in the world. 
              It would not be hard for you to study at any of them.
              Studying is good. 
              Countries are good. </p>
            </span>
        </div>
      </div>
    </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("lotr.jpg", :alt => "rss feed") %></div>
</div>

