<div class="parallax-container">
  <div class="parallax"> <%= image_tag("brazil.jpg", :alt => "rss feed") %>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="container center">
    <h1 class="text-white"> Study Unbound. </h1>
      <a href= "#Languages" class="smoothScroll waves-effect waves-light btn-large red accent-2"> Find a Program </a>
    </div>
  </div>
</div>

<div class="container center">
  
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  
  <h4> A semester abroad is a life changing experience for those who can afford it: </h4>

  <div class="row"></div>
  <div class="row"></div>

  <div class="row card">
    <div class="center col s12 l6">
      <h3 class="bold-text text-bold">Access</h3>
      <img class="responsive-img" <%= image_tag("stats.png", :alt => "rss feed") %>
    </div>
    <div class="center col s12 l6">
      <h3>Outcomes</h3>
      <img class="responsive-img" <%= image_tag("stats2.png", :alt => "rss feed") %>
    </div>
  </div>

    <div class="row"></div>
    <div class="row"></div>

  <h4> The irony is that while typical programs cost tens of thousands of dollars, <i> study abroad should be cheaper than the cost of community college.</i> </h4>
</div>

  <div class="row"></div>
  <div class="row"></div>

<div class="indigo lighten-1">

  <div class="row"></div>
  <div class="row"></div>
  <div class="container">

  <div class="center">
    <div class="black-text">
      <h2 class="white-text">Enter Direct Enrollment.</h2>
    </div>
  </div>

  <div class="card">
    <div class="center">

      <div class="row">
        <div class="col s4">
          <h2 class="flow-text"> Low-Cost </h2>
        </div>
        <div class="col s4">
          <h2 class="flow-text"> Full Immersion </h2>
        </div>
        <div class="col s4">
          <h2 class="flow-text"> Learn Anywhere </h2>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <img class="responsive-img" <%= image_tag("spend.png", :alt => "rss feed") %>
        </div>
        <div class="col s4">
          <img class="responsive-img" <%= image_tag("talk.png", :alt => "rss feed") %>
        </div>
        <div class="col s4">
          <img class="responsive-img" <%= image_tag("fly.png", :alt => "rss feed") %>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <h6> We only list programs with tuition under $3,000.
           Most are far less, and over half are free. </h6>
        </div>
        <div class="col s4">
          <h6> Courses are taught in the native language, with native speakers. You live the culture 24/7. </h6>
        </div>
        <div class="col s4">
          <h6> Countries like Iceland, Croatia and Brazil. Where most universities don't have programs. </h6>
        </div>
      </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="card">
      <div class="row">
        <div class="col s12 m12 l6">
          <h4 class="flow-text left-align"> These are programs run by universities outside of the United States, in various languages, that cost little to nothing to attend. </h4>
        </div>
        <div class="col s12 m12 l6">
          <h4 class="flow-text left-align"> While they are rarely publicized, most American schools accept them as full-time study, with transferable academic credit. </h4>
        </div>
      </div>
    </div>

    <div class="row"></div>
    <div class="row"></div>
  </div>


  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>

<div class="container">

  <div class="row"></div>  
  <div class="row"></div>



  <div class="center">
      <a href= "http://www.gooverseas.com/blog/perks-direct-enrollment-study-abroad" class="waves-effect waves-light btn-large red accent-2" target="_blank"> The Perks of Direct Enrollment </a>
      <a href= "http://www.gooverseas.com/blog/should-you-study-abroad-through-direct-enrollment-or-program-provider" class="waves-effect waves-light btn-large red accent-2" target="_blank"> Direct Enrollment vs. Program Provider </a>
  </div>

  <div class="row"></div>
  <div class="row"></div>  
  <div class="row"></div>

  <div class="row">
    <div class="col s12 m6">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header hoverable waves-effect">
           What are the language requirements? </div>
          <div class="collapsible-body"><p> For English language programs, TOEFL scores are usually required for non-native speakers. For the other languages, proof of fluency is rarely required, but students will be expected to conduct all lectures, readings, and tests in the target language. The equivalent of B2 in the European framework is generally a sufficient level. </p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
           How much do these programs cost? </div>
          <div class="collapsible-body"><p> While tuition is never over $3,000 USD per semester, costs of flights, room and board vary significantly country to country. </p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
           What kind of scholarships are available? </div>
          <div class="collapsible-body"><p> We are not aware of any funding opportunities. However, your home university may transfer financial aid, or offer closed scholarships for its students. </p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
           Is safety an issue?
          </div>
          <div class="collapsible-body"><p> European programs are almost certainly located in an area at least safe, and likely safer, than where you live in the United States. Safety can be an issue in South America. Stay up-to-date on U.S. State Travel Department Warnings, and do research. </p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
           Why aren't more countries/languages listed?
          </div>
          <div class="collapsible-body"><p>Tuition in Australia, Asia, Western Europe and Canada tends to be too expensive to be considered part of this site. As we become aware of more programs we will continue to update the list.</p></div>
        </li>
      </ul>
    </div>

    <div class="col s12 m6">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header hoverable waves-effect">
            What is housing like?
          </div>
          <div class="collapsible-body"><p>Most schools will provide a list of sublets available in the area near the university. Some will have student housing available.</p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
            What is the academic calendar like?
          </div>
          <div class="collapsible-body"><p>Thanksgiving (fall) and Spring Break (spring) are not observed, and other holidays likely will be. Note that any school in the Southern hemisphere will likely have totally different start and end dates. </p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
           How do I know if my school will accept the credit?</div>
          <div class="collapsible-body"><p> Most schools state their policy regarding direct enrollment programs on their study abroad web site. Note: outside of the United States, this type of exchange is often referred to as a 'free-mover' exchange or agreement.</p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
           How does this site make money?</div>
          <div class="collapsible-body"><p>It doesn't. This site is maintained to provide information about study abroad options that are rarely publicized, in the interest of promoting highly immersive, low-cost programs. </p></div>
        </li>
        <li>
          <div class="collapsible-header hoverable waves-effect">
           Can I recommend you add a program I completed?
          </div>
          <div class="collapsible-body"><p>Yes! Please shoot us an e-mail at studyunbound@gmail.com</p></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row"></div>
  <div class="divider"></div>
  <div class="row"></div>

</div>

<a id="Languages"></a>

<div class="container">

  <div class="row"></div> 

  <div class="center"> 
    <h3> Browse by language of instruction. </h3>
    <h3> English is offered just about everywhere. </h3>
  </div>

  <div class="row"></div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#english">English</a></li>
        <li class="tab col s3"><a class="active" href="#spanish">Spanish</a></li>
        <li class="tab col s3"><a href="#german">German</a></li>
        <li class="tab col s3"><a href="#portuguese">Portuguese</a></li>
      </ul>
    </div>

    <div class="row"></div>
    <div class="row"></div>

    <div id="english" class="col s12">
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image activator waves-effect waves-block waves-light">
              <img class="activator" <%= image_tag("reyimg.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Rekyavik University<i class="material-icons right">more_vert</i></span>
                <p><a href="http://en.ru.is/application-process/">Visit site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Rekyavik University<i class="material-icons right">close</i></span>
              <p>Location: Rekyavik, Iceland</p>
              <p>Tuition: $1,500 USD/semester</p>
              <p>Enrollment: 3,000</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image activator waves-effect waves-block waves-light">
              <img class="activator" <%= image_tag("zhaimg.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">University of Zagreb<i class="material-icons right">more_vert</i></span>
                <p><a href="http://www.efzg.unizg.hr/default.aspx?id=15594">Visit site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">University of Zagreb<i class="material-icons right">close</i></span>
              <p>Location: Zagreb, Croatia</p>
              <p>Tuition: $1,200 USD/semester</p>
              <p>Enrollment: 72,000</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image activator waves-effect waves-block waves-light">
              <img class="activator" <%= image_tag("NTNU.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"> NTNU (Norway) <i class="material-icons right">more_vert</i></span>
                <p><a href="https://www.ntnu.edu/studies/visitng_and_exchange_students/free_mover">Visit site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Norwegian Institute of Science and Technology<i class="material-icons right">close</i></span>
              <p>Location: Trondheim, Norway</p>
              <p>Tuition: free </p>
              <p>Enrollment: 18,500</p>
            </div>
          </div>
        </div>
      
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image activator waves-effect waves-block waves-light">
              <img class="activator" <%= image_tag("tampere.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"> TUT (Finland) <i class="material-icons right">more_vert</i></span>
                <p><a href="http://www.tut.fi/en/admissions/applying-to-tut/exchange-programmes/index.htm">Visit site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Tampere University of Technology<i class="material-icons right">close</i></span>
              <p>Location: Tampere, Finland</p>
              <p>Tuition: free (until August 2017),</p>
              <p>Enrollment: 18,500</p>

            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image activator waves-effect waves-block waves-light">
              <img class="activator" <%= image_tag("warsaw.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Univ. of Warsaw <i class="material-icons right">more_vert</i></span>
                <p><a href="http://bwz.uw.edu.pl/en/incoming-students/visiting-students">Visit site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">University of Warsaw<i class="material-icons right">close</i></span>
              <p>Location: Warsaw, Poland</p>
              <p>Tuition: $1,500 - $3,000 USD/semester,</p>
              <p>depending on field of study</p>
              <p>Enrollment: 45,000 </p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image activator waves-effect waves-block waves-light">
              <img class="activator" <%= image_tag("aarhus.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Aarhus University <i class="material-icons right">more_vert</i></span>
                <p><a href="http://www.au.dk/en/internationalcentre/international-students/freemoverstudents%28non-exchange%29/">Visit site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Aarhus University<i class="material-icons right">close</i></span>
              <p>Location: Aarhus, Denmark</p>
              <p>Tuition: $2,000 - $3,500 USD/semester,</p>
              <p>Enrollment: 45,000</p>
            </div>
          </div>
        </div>
      
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image activator waves-effect waves-block waves-light">
              <img class="activator" <%= image_tag("charles.jpg", :alt => "rss feed") %>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"> St. Charles University <i class="material-icons right">more_vert</i></span>
                <p><a href="http://www.cuni.cz/UKEN-151.html">Visit site</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"> St. Charles University<i class="material-icons right">close</i></span>
              <p>Location: Prague, Czech Republic</p>
              <p>Tuition: $3,000 USD/semester</p>
              <p>Enrollment: 50,000</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div id="spanish" class="col s12">
      <div class="row">

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("andes.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Los Andes (Bogotá)<i class="material-icons right">more_vert</i></span>
            <p><a href="https://decanaturadeestudiantes.uniandes.edu.co/index.php/es/international-students/nomination--application-process">Visit site </a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Universidad de Los Andes <i class="material-icons right">close</i></span>
          <p>Location: Bogotá, Colombia </p>
          <p>Tuition: $2,500 USD/semester </p>
          <p>Enrollment: 13,000</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("quito.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Univ. San Francisco<i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.usfq.edu.ec/programas_internacionales/exchange_students/Paginas/english.aspx#demoTab1">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Universidad de San Francisco <i class="material-icons right">close</i></span>
          <p>Location: Quito, Ecuador </p>
          <p>Tuition: contact university </p>
          <p>Enrollment: 4,500</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("chile.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Univ. de Santiago <i class="material-icons right">more_vert</i></span>
            <p><a href="http://drii.usach.cl/content/preguntas-frecuentes-estudiantes-extranjeros">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Universidad de Santiago <i class="material-icons right">close</i></span>
          <p>Location: Santiago, Chile </p>
          <p>Tuition: contact university </p>
          <p>Enrollment: 18,000 </p>
        </div>
      </div>
    </div>

  

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("nacional.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Univ. de Colombia <i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.dre.unal.edu.co/nc/esx/movilidad/entrante.html">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Universidad Nacional de Colombia <i class="material-icons right">close</i></span>
          <p>Location: various, Colombia </p>
          <p>Tuition: ~$500 USD/semester </p>
          <p>Enrollment: various </p>
        </div>
      </div>
    </div>
   </div>
   </div>
    
    <div id="german" class="col s12">
        <div class="row">
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("hamburg.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universität Hamburg <i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.uni-hamburg.de/en/campuscenter/bewerbung/international/freemover.html">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universität Hamburg<i class="material-icons right">close</i></span>
          <p>Location: Hamburg, Germany</p>
          <p>Tuition: free </p>
          <p>Enrollment: 42,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("freiburg.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Universität Freiburg<i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.studium.uni-freiburg.de/studienbewerbung-en/international-en/short-term-studies">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universität Freiburg<i class="material-icons right">close</i></span>
          <p>Location: Freiburg, Germany</p>
          <p>Tuition: free </p>
          <p>Enrollment: 26,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("innsbruck.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universität Innsbruck <i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.uibk.ac.at/studium/international/innsbruck/">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universität Innsbruck<i class="material-icons right">close</i></span>
          <p>Location: Innsbruck, Austria </p>
          <p>Tuition: $800 USD/semester </p>
          <p>Enrollment: 26,000 </p>
        </div>
      </div>
    </div>
  </div>
    </div>
    <div id="portuguese" class="col s12">
        <div class="row">
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("usp.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> USP (São Paulo) <i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.usp.br/internationaloffice/en/index.php/admissions/undergraduate/exchange-student">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Universidade de São Paulo <i class="material-icons right">close</i></span>
          <p>Location: São Paulo, Brazil</p>
          <p>Tuition: free </p>
          <p>Enrollment: 57,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("ufrgs.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">UFRGS<i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.ufrgs.br/relinter/english/applying-to-ufrgs">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universidade Federal Rio Grande do Sul<i class="material-icons right">close</i></span>
          <p>Location: Porto Alegre, Brazil</p>
          <p>Tuition: free </p>
          <p>Enrollment: 30,000</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("unicamp.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Unicamp (Campinas) <i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.unicamp.br/unicamp/international-relations-international-office/foreign-student-guide?language=en">Visit site (section 1.2)</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Universidade Estadual de Campinas<i class="material-icons right">close</i></span>
          <p>Location: Campinas, Brazil </p>
          <p>Tuition: free </p>
          <p>Enrollment: 40,000 </p>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

