<div class="parallax-container">
  <div class="parallax"> <%= image_tag("temple.jpg", :alt => "rss feed") %></div>
</div>

<h1><a id="Countries"></a></h1>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>

<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card-panel">
          <span class="blue-text text-darken-2">Countries</span>
          <span class="card-content black-text">
          <p>There are many countries in the world. 
          It would not be hard for you to study at any of them.
          Studying is good. 
          Countries are good. </p>
          </span>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("dubrovnik.jpg", :alt => "rss feed") %></div>
</div>

<h1><a id="Languages"></a></h1>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>


<div class="container">
    <div class="row">
      <div class="col s6 offset-s2">
        <div class="card-panel">
            <span class="blue-text text-darken-2">Languages</span>
            <span class="card-content black-text">
              <p>There are many countries in the world. 
              It would not be hard for you to study at any of them.
              Studying is good. 
              Countries are good. </p>
            </span>
        </div>
      </div>
    </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("vietnam.jpg", :alt => "rss feed") %></div>
</div>

<h1><a id="Mission"></a></h1>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>

<div class="container">
    <div class="row">
      <div class="col s6 offset-s4">
        <div class="card-panel">
            <span class="blue-text text-darken-2">About</span>
            <span class="card-content black-text">
              <p>There are many countries in the world. 
              It would not be hard for you to study at any of them.
              Studying is good. 
              Countries are good. </p>
            </span>
        </div>
      </div>
    </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("alaska.jpg", :alt => "rss feed") %></div>
</div>

<h1><a id="FAQ"></a></h1>
<div class="row">
</div>
<div class="row">
</div>
<div class="row">
</div>


<div class="container">
    <div class="row">
      <div class="col s6 offset-s6">
        <div class="card-panel">
            <span class="blue-text text-darken-2">FAQ</span>
            <span class="card-content black-text">
              <p>There are many countries in the world. 
              It would not be hard for you to study at any of them.
              Studying is good. 
              Countries are good. </p>
            </span>
        </div>
      </div>
    </div>
</div>

<div class="parallax-container">
  <div class="parallax"> <%= image_tag("lotr.jpg", :alt => "rss feed") %></div>
</div>

