<div class="parallax-container">
  <div class="parallax"> <%= image_tag("colombia.jpg", :alt => "rss feed") %>
  </div>
   <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
 	<div class="container center white-text">
      <h1>Spanish</h1>
      <h3>Ecuador || Chile || Colombia</h3>
    </div>
</div>

<div class="container">

  <div class="row">

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("andes.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universidad de Los Andes <i class="material-icons right">more_vert</i></span>
            <p><a href="https://decanaturadeestudiantes.uniandes.edu.co/index.php/es/international-students/nomination--application-process">Visit site (estudiantes visitantes)</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Los Andes <i class="material-icons right">close</i></span>
          <p>Location: Bogotá, Colombia </p>
          <p>Tuition: $2,500 USD/semester </p>
          <p>Enrollment: 13,000</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("quito.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universidad de San Francisco <i class="material-icons right">more_vert</i></span>
            <p><a href="https://www.usfq.edu.ec/programas_internacionales/exchange_students/Paginas/english.aspx#demoTab1">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Universidad de San Francisco <i class="material-icons right">close</i></span>
          <p>Location: Quito, Ecuador </p>
          <p>Tuition: contact university </p>
          <p>Enrollment: 4,500</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("chile.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universidad de Santiago <i class="material-icons right">more_vert</i></span>
            <p><a href="http://drii.usach.cl/content/preguntas-frecuentes-estudiantes-extranjeros">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Universidad de Santiago <i class="material-icons right">close</i></span>
          <p>Location: Santiago, Chile </p>
          <p>Tuition: contact university </p>
          <p>Enrollment: 18,000 </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image activator waves-effect waves-block waves-light">
          <img class="activator" <%= image_tag("andes.jpg", :alt => "rss feed") %>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"> Universidad Nacional de Colombia <i class="material-icons right">more_vert</i></span>
            <p><a href="http://www.dre.unal.edu.co/nc/esx/movilidad/entrante.html">Visit site</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> La Nacional <i class="material-icons right">close</i></span>
          <p>Location: various, Colombia </p>
          <p>Tuition: ~$500 USD/semester </p>
          <p>Enrollment: various </p>
        </div>
      </div>
    </div>
   </div>
</div>


